#experienceSection h1 {
   margin-bottom: 10px;
}

#radioDiv {
   display: flex;
   align-items: center;
}

#radioDiv label {
   margin-right: 15px;
}

#radioDiv input {
   margin-right: 3px;
}

#experienceContainer {
   width: 100%;
   height: 75%;
   display: flex;
   justify-content: space-evenly;
}

#contentContainer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

#timelineContainer {
   width: 100%;   
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   overflow-x: scroll;
   height: 500px;
}

#yearsContainer {
   display: grid;
   grid-template-rows: auto auto auto;
   grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
   grid-auto-flow: column;
   width: 200%;
}

.eventHolder, .yearHolder {
   height: 5px;
   width: 100%;
}

.eventHolder {
   background-color: darkgoldenrod;
}

.yearHolder {
   overflow: visible;
}

.eventDiv {
   position: relative;
}

.eventMarker {
   position: absolute;
   bottom: 100%;
   left: 50%;
   background-color: black;
   color: white;
   padding: 4px;
   border-radius: 4px;
   white-space: nowrap;
   /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 3% 80%, 0% 100%, 0% 80%); */
   /* margin-top: 5px; */
   /* height: fit-content; */
   font-size: small;
   transition: height 2.5s ease-in-out;
}

.expandedEvent {
   /* height: 200px; */
   z-index: 5;
   min-width: fit-content;
   animation: eventHeight 0.4s ease-in-out forwards;
   overflow: hidden;
}

.collapseEvent {
   animation: decreaseEventHeight 0.4s ease-in-out forwards;
}

@keyframes eventHeight {
   from { height: 23.5px; }
   to { height: 200px; }
}

@keyframes decreaseEventHeight {
   from { height: 200px; }
   to { height: 23.5px; }
}


/* .eventMarker:hover {
   height: 200px;
   z-index: 5;
   min-width: fit-content;
} */

.expandedDiv {
   width: 400px;
   white-space: wrap;
}

.month {
   text-align: center;
   font-size: 12px;
   background: lightgray;
   padding: 2px;
   overflow: visible;
   white-space: nowrap;
}

.january {
   grid-column: span 2;
   text-align: left;
}

.flex {
   display: flex;
   align-items: center;
}

.flex i {
   margin-right: 7px;
}

.fa-map-pin {
   rotate: 10deg;
}











.experienceContainer {
   background-color: khaki;
   height: 100%;
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
}

#workContainer h3 {
   margin-bottom: 20px;
}

/* #educationContainer {
   background-color: aqua;
   height: 100%;
   width: 40%;
} */

#expTable {
   display: grid;
   gap: 10px;
   width: 100%;
   overflow-y: scroll;
}



.expRow {
   display: grid;
   grid-template-columns: 1fr 15px 2fr;
   width: 100%;
}

.timeCell {
   text-align: right;
   margin-right: 10px;
}

.clickArrow {
   margin-top: 1.5px;
}

.titleCell {
   /* width: 100%; */
}

.hidden {
   display: none;
}