#experienceSection h1 {
   margin-bottom: 10px;
   margin-top: 30px;
}

input[type="radio"] {
   display: none;
}

#radioDiv {
   display: flex;
   align-items: center;
   margin-top: 5px;
}

#radioDiv label {
   display: flex;
   align-items: center;
}

.customRadio {
   position: relative;
   cursor: pointer;
   display: inline-block;
   user-select: none;
}

.radioMark {
   display: inline-block;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   border: 1px solid #aaa;
   background-color: white;
   transition: all 0.2s ease;
   margin-right: 5px;
}

.customRadio {
   margin-right: 15px;
}

input[type="radio"]:checked + .radioMark {
   background-color: #FF3A0E;
   border-color: #FF3A0E;
 }

#allExperienceContainer {
   width: 100%;
   height: 75%;
   display: flex;
   justify-content: center;
}

#contentContainer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

#timelineContainer {
   width: 100%;   
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   overflow-x: auto;
   height: 500px;
}

#yearsContainer {
   display: grid;
   grid-template-rows: auto auto auto;
   grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
   grid-auto-flow: column;
   width: 200%;
   color: #fff9e2;
}

.eventHolder, .yearHolder {
   height: 5px;
   width: 100%;
}

.yearHolder {
   overflow: visible;
}

.eventDiv {
   position: relative;
}

.eventMarker {
   position: absolute;
   bottom: 100%;
   background-color: #111111;
   color: white;
   padding: 4px;
   border-radius: 4px;
   white-space: nowrap;
   font-size: small;
   transition: height 2.5s ease-in-out;
   overflow: hidden;
   
}

.fadedMarkerText {
   mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.expandedEvent {
   z-index: 5;
   min-width: fit-content;
   animation: eventHeight 0.4s ease-in-out forwards;
   overflow: hidden;
}

.workDescription a {
   color: #FF3A0E;
}

.collapseEvent {
   animation: decreaseEventHeight 0.4s ease-in-out forwards;
}

@keyframes eventHeight {
   from { height: 23.5px; }
   to { height: 200px; }
}

@keyframes decreaseEventHeight {
   from { height: 200px; }
   to { height: 23.5px; }
}


.expandedDiv {
   width: 450px;
   white-space: wrap;
}

.expandedDiv h2 {
   margin-top: 7px;
}

.expandedDiv p {
   margin-top: 7px;
}

.workMarker {
   background-color: #acc8e5;
   color: #1A1A1A;
}

.eduMarker {
   background-color: #f59166;
   color: #1A1A1A;
}

.month {
   text-align: center;
   font-size: 12px;
   height: 20px;
   display: flex;
   align-items: center;
   background: #1A1A1A;
   padding: 2px;
   overflow: visible;
   white-space: nowrap;
}

.january {
   grid-column: span 2;
   text-align: left;
}

.flex {
   display: flex;
   align-items: center;
}

.flex i {
   margin-right: 7px;
}

.fa-map-pin {
   rotate: 10deg;
}










.experienceContainer {
   height: 100%;
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
}

.experienceContainer h3 {
   margin-top: 25px;
   margin-bottom: 15px;
}

.placeText {
   font-weight: normal;
}

.experienceDescription {
   font-weight: normal;
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 15px;
}

#workListContainer {
   margin-left: 150px;
   margin-right: -20px;
}

#eduListContainer {
   margin-right: 150px;
   margin-left: -20px;
}

#expTable {
   display: grid;
   gap: 10px;
   width: 100%;
   overflow-y: auto;
}



.expRow {
   display: grid;
   grid-template-columns: 38fr 15px 62fr;
   width: 100%;
   margin-bottom: 5px;
}

.timeCell {
   text-align: right;
   margin-right: 10px;
   margin-left: 10px;
}

.clickArrow {
   margin-top: 2px;
   height: 12px;
   width: 12px;
}

.titleCell {
   margin-left: 5px;
   font-weight: bold;
}

.rotateArrow {
   animation: arrowRotation 0.2s ease-in-out forwards;
}

.rerotateArrow {
   animation: arrowRerotation 0.2s ease-in-out forwards;
}

@keyframes arrowRotation {
   from {
      rotate: 0deg;
      margin-top: 0px;
      margin-right: 0px;
   }
   to {
      rotate: 90deg;
      margin-top: 3px;
      margin-right: 7px;
   }
}

@keyframes arrowRerotation {
   from {
      rotate: 90deg;
      margin-top: 3px;
      margin-right: 7px;
   }
   to {
      rotate: 0deg;
      margin-top: 0px;
      margin-right: 0px;
   }
}

.hidden {
   display: none;
}


@media screen and (max-width: 768px) {
   #allExperienceContainer {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height:90%;
      margin-top: 0px;
   }

   .experienceContainer {
      width: 100%;
   }

   #experienceSection {
      justify-content: start;
   }

   #experienceSection h1 {
      margin-top: 40px;      
   }

   #workListContainer {
      height: 50%;
      margin-left: 0;
      margin-right: 0;
   }

   #eduListContainer  {
      height: 50%;
      margin-right: 0;
      margin-left: 0;
   }

   .timeCell {
      font-size: 13px;
   }

   .expRow {
      grid-template-columns: 33fr 15px 66fr;
   }
}