@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
   font-family: 'Menlo';
   src: url('../data/Menlo-Regular.ttf') format('truetype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 


::-webkit-scrollbar {
   width: 5px;
   height: 8px;
}

::-webkit-scrollbar-thumb {
   background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-track {
   border-radius: 10px;
}

html {
   background-color: #1A1A1A;
}

html, body {
   height: 100%;
   overflow-x: hidden;
   font-family: "Inter Tight", sans-serif;
   font-optical-sizing: auto;
   scroll-behavior: smooth;
   color:white;
}

section {
   height: 97%;
   display: flex;
   flex-direction: column;
}

section h1 {
   font-weight: normal;
   font-size: 30px;
}

#nameSection {
   margin-top: 2%;
}

#nameDiv {
   position: relative;
   width: 308px;
   margin-left: 0;
}

#typewriterDiv {
   position: absolute;
   overflow: visible;
   top: 0px;
   text-align: right;
   right: 0;
   font-family: 'Menlo';
   font-size: 12px;
}

#blinkingCursor {
   color: #7b7b7b;
   font-size: 50px;
   transform: translateX(-6px);
   display: inline-block;
}

.hiddenCursor {
   opacity: 0;
}

.halves {
   flex-basis: 50%;
   min-width: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}



.leftHalf {
   background-color: #1A1A1A;
   order: 2;
}

.rightHalf {
   background-color: #1A1A1A;
   order: 1;
}

#nameText {
   font-weight: 400;
   font-size: 50px;
   height: 60px;
}

#nameSubtext {
   font-weight: 400;
   font-size: 25px;
   margin-top: 10px;
   height: 30px;
   color: #ff5934;
}

#portrait {
   height: 60vh;
}

header {
   position: fixed;
   z-index: 5;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: space-around;
   padding-top: 10px;
   background-color: #fff9e2;
}

.icon {
   height: 21px;
   color: black;
}

#introTextSection {
   justify-content: center;
   align-items: center;
}

#introText {
   text-align: center;
   margin: 0 5vw;
   font-size: x-large;
}

#githubSection, #experienceSection, #contactSection {
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#experienceSection {
   color:#1A1A1A;
}

#contactSection {
   height: 100%;
   color:#1A1A1A;
}

#leftContactHalf {
   flex-direction: row;
}

.flex {
   display: flex;
}

#contactTitle {
   font-size: 50px;
   text-align: left;
   display: inline;
}

#contactTitleParent {
   width: 370px;
   text-align: center;
}

#mailPhoneDiv {
   margin-bottom: 5px;
}


.logoDiv {
   width: 100%;
   justify-content: center;
   margin-right: 0;
}

.logoDiv a {
   color: black;
}

.contactLogo {
   margin-left: 20px;
   margin-right: 20px;
}

.logoDiv a i {
   width: 20px;
   height: 20px;
   font-size: 40px;
}

.contactInfo {
   font-size: 25px;
   margin: 0 10px 30px 10px;
}

.letter {
   margin-top: 5px;
}



@media screen and (min-width: 768px) {
   section {
      flex-direction: row;
      scroll-margin-top: 30px;
   }

   #contactSection {
      height: 97%;
   }

   .leftHalf {
      order: 1;
   }

   .rightHalf {
      order: 2;
   }

   #nameDiv {
      margin-left: 15%;
   }

   #portrait {
      height: 60vh;
      width: auto;
      margin-right: 15%;
   }
   
   .halves div {
      text-align: right;
   }

   header {
      top: 0;
      height: fit-content;
      justify-content: space-evenly;
   }

   #introText {
      font-size: xx-large;
      margin: 0 20vw;
   }

   #contactSection {
      flex-direction: row;
   }

   #contactTitleParent {
      margin-left: 150px;
      margin-bottom: 30px;
      text-align: left;
   }

   .logoDiv {
      width: 70%;
      margin-right: 100px;
   }
}