@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 } 

html, body {
   height: 100%;
   overflow-x: hidden;
   font-family: "Inter Tight", sans-serif;
   font-optical-sizing: auto;
 }

section {
   height: 97%;
   display: flex;
   flex-direction: column;
}

#nameSection {
   margin-top: 2%;
}

.halves {
   flex-basis: 50%;
   min-width: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}



.leftHalf {
   background-color: pink;
   order: 2;
}

.rightHalf {
   /* background-color: rgb(205, 236, 250); */
   background-color: rgb(197,213,230);
   order: 1;
}

#nameText {
   font-weight: 400;
   font-size: 50px;
}

#nameSubtext {
   font-weight: 400;
   font-size: 25px;
   margin-top: 10px;
}

#portrait {
   /* height: 50vh; */
   /* width: 100vw; */
   height: 60vh;
}

header {
   position: fixed;
   z-index: 5;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   padding-top: 10px;
   background-color: rgb(197,213,230);
}

.icon {
   height: 21px;
   color: black;
}

#introTextSection {
   justify-content: center;
   align-items: center;
}

#introText {
   text-align: center;
   margin: 0 20vw;
   font-size: x-large;
}

#githubSection {
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#githubSection h1 {
   margin-bottom: 50px;
   /* color: white; */
   color: #F0F6FC;
}

.githubLink {
   text-decoration: none;
   margin: 10px;
}

#githubContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
   width: 85%;
   height: 75%;   
   overflow-y: scroll;
   flex-wrap: wrap;
}

.githubDiv {
   border-radius: 35px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 350px;
   height: 233px;
   /* background-color: rgb(14, 17, 22); */
   background-color: #0E1116;
   color: white;
   /* margin: 10px; */
   position: relative;
   border: 1px solid #3E444C;
}

.contentWrapper {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   /* flex-grow: 1; */
   /* margin-top: 10%; */
   /* padding-bottom: 40px; */
}

.contentWrapper p, .languageText {
   color: #9198A1;
}

.githubDiv h3, .githubDiv p {
   margin-left: 5%;
   margin-bottom: 5%;
   margin-right: 5%;
}

.githubDiv h3 {
   margin-bottom: 2%;
   color: #bbc1cb;
   font-size: 17px;
}

.topicsWrapper {
   position: absolute;
   top: 15px;
   left: 12px;
}

#topicsDiv {
   margin-left: 5%;
   display: flex;
}

#topicDiv {
   background-color: #388bfd1a;
   color: #4493f8;
   padding: 4px 7px;
   border-radius: 20px;
   margin-right: 3px;
   /* margin-left: 5%; */
   font-size: 11px;
}

.lastUpdated {
   font-size: 11px;
}

.repoDesc {
   /* font-size: 12.5px; */
   font-size: 13px;
}

.languagesContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* margin-bottom: 15px; */
   position:absolute;
   bottom: 15px;
   left:0;
}

.languagesBar {
   height: 5px;
   width: 90%;
   display: flex;
}

.currentLanguageBar {
   height: 100%;
   border-radius: 3px;
}

#languagesTextContainer {
   display: flex;
   width: 90%;
   margin-top: 5px;
}

#languageDiv {
   display: flex;
   align-items: center;
   font-size: 9px;
   margin-right: 5px;
}

#languageDot {
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: red;
   margin-right: 3px;
}

@media screen and (min-width: 768px) {
   section {
      flex-direction: row;
   }

   .leftHalf {
      order: 1;
   }

   .rightHalf {
      order: 2;
   }

   #portrait {
      height: 50vh;
      width: auto;
   }
   
   .halves div {
      text-align: right;
   }

   header {
      top: 0;
      height: fit-content;
   }

   #introText {
      font-size: xx-large;
   }

   .githubDiv {
      width: 500px;
      height: 300px;
   }

   #githubContainer {
      width: 75%;
   }

   .githubDiv h3 {
      font-size: 20px;
   }

   .repoDesc {
      font-size: 16px;
   }

   #languageDiv {
      font-size: 12px;
   }

   .languagesBar {
      height: 10px;
   }

   .lastUpdated {
      font-size: 13px;
   }

   .topicsWrapper {
      top: 17px;
      left: 15px;
   }
}